{% extends 'baseInicioUsuarios.html'%}
{%load widget_tweaks%}
{% block userName%}
{{ user.get_username }}
{%endblock%}
{%block vuelo%}
<a href="/vuelos/ver/reservas/">Volver</a>
<section class="container my-5">
    <div class="container">
      <h1 class="display-4 ">Reserva vuelo</h1>
      <hr>
      <form class="row g-3" action="{% url 'compras_reservas:reserva' pk%}" method="POST">
        {% csrf_token %}
        <div class="col-md-4">
          <label for="mail" class="form-label">DNI</label>
          {%render_field form.DNI class="form-control" placeholder="DNI"%}
          {{ form.DNI.errors}}
        </div>
        <div class="col-md-4">
          <label for="mail" class="form-label">Lugar de nacimiento</label>
          {%render_field form.lugar_nacimiento class="form-control" placeholder="Lugar nacimiento" %}
          {{ form.lugar_nacimiento.errors }}
        </div>
        <div class="col-md-4">
          <label for="mail" class="form-label">Fecha de nacimiento</label>
          {%render_field form.fecha_nacimiento class="form-control" placeholder="Fecha nacimiento"%}
          {{ form.fecha_nacimiento.errors }}
        </div>
        <div class="col-md-4">
          <label for="mail" class="form-label">Genero</label>
          {%render_field form.genero class="form-control " placeholder="Genero"%}
          {{ form.genero.errors }}
        </div>
        <div class="col-md-4">
          <label for="mail" class="form-label">Direccion</label>
          {%render_field form.direccion class="form-control" placeholder="Direccion"%}
          {{ form.direccion.errors }}
        </div>
        <div class="col-md-4">
          <label for="mail" class="form-label">Email</label>
          {%render_field form.email class="form-control" placeholder="Email"%}
          {{ form.email.errors }}
        </div>
        <div class="col-md-3">
          <label for="mail" class="form-label">Nombre contacto</label>
          {%render_field form.nombre_contacto class="form-control" placeholder="Nombre contacto"%}
          {{ form.nombre_contacto.errors }}
        </div>
        <div class="col-md-3">
            <label for="mail" class="form-label">Telefono contacto</label>
            {%render_field form.telefono_contacto class="form-control" placeholder="Telefono contacto"%}
            {{ form.telefono_contacto.errors }}
        </div>
        <div class="col-md-3">
            <label for="mail" class="form-label">Acompañantes</label>
            {%render_field form.acompañante class="form-control" placeholder="Acompañantes"%}
            {{ form.acompañante.errors }}
        </div>
        <div class="col-md-3">
            <label for="mail" class="form-label">Clase</label>
            {%render_field form.clase class="form-control" placeholder="Clase"%}
            {{ form.clase.errors }}
        </div>
        <div class="col-md-3">
          <button type="submit" value="submit" class="btn btn-success ">Actualizar</button>
        </div>
      </form>
    </div> 
  </section> 
 
{%endblock%}