{% extends 'baseInicio.html'%}


{% block card%}

{% load tz %}

<section class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for vuelo, imagen in page_obj %}
        <div class="col">
            
            <div class="card h-100">
            <img src={{imagen}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vuelo desde {{vuelo.origen}} hacia {{vuelo.destino}} </h5>
                <p class="card-text">
                {%if suscripcion == False and vuelo.estado == 1%}
                {% else %}
                <p><b>Tipo de vuelo:</b>{{vuelo.tipo_vuelo}}</p>
                <p><b>Fecha vuelo: </b>{{vuelo.fecha_vuelo}}</p>
                <p><b>Origen vuelo: </b>{{vuelo.origen}}</p>
                <p><b>Destino vuelo: </b>{{vuelo.destino}}</p>
                <p><b>Tiempo de vuelo: </b>{{vuelo.tiempo_Vuelo}}</p>
                {% if vuelo.tipo_vuelo == "internacional" %}
                    {% for key, value in zona.items %}
                        {% if key == vuelo.destino %}
                            <b>llega:</b> {{ vuelo.fecha_llegada|timezone:value }} (Zona horaria {{ value }})<br>
                        {% endif %}
                    {% endfor %}
                {%endif%}
            </div>
                <div class="card-footer">
                <small class="text-muted"><a href="{% url 'busqueda_noticias:ver' vuelo.id%}">Ver vuelo</a></small>
                </div>
            </div>
            {% endif %}
        </div>
        {%endfor%}

    </div>
</section>

<div class="pagination">
<span class="step-links">
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
</span>
</div>



    {%endblock%}