{% extends 'baseAdministrar.html'%}
{%load widget_tweaks%}
  {% block contenido%}

  {%if tipo == 'administrador' %}
    <div class="container ">
      <br>
      <div class="row justify-content-center mt-5 tp-5">
          <div class="col-auto">
              
              <h1 class="display-4 ">Editar perfil</h1>
              <hr>
              <form action="{% url 'gestion_usuarios:modificarPerfil' %}"  method="POST">
                  {% csrf_token %}
                  
                  <div class="row form-group">
                      <div class="col-auto">
                        {%render_field form.username class="col-form-label " placeholder="Nombre de usuario"%}
                        {%render_field form.first_name class="col-form-label " placeholder="Nombre" %}
                      </div>
                  </div>
                  <div class="row form-group col-form-label">
                    <div class="">
                      {%render_field form.email class="col-form-label " placeholder="E-mail"%}
                      {%render_field form.last_name class="col-form-label" placeholder="Apellido" %}
                    </div>
                </div>
                <div class="row form-group col-form-label">
                  <div class="">
                    {%render_field form2.DNI class="col-form-label " placeholder="DNI"%}
                    {%render_field form2.lugar_nacimiento class="col-form-label" placeholder="Lugar nacimiento" %}
                  </div>
                </div>
                <div class="row form-group col-form-label">
                  <div class="">
                    {%render_field form2.fecha_nacimiento class="col-form-label " placeholder="Fecha nacimiento"%}
                    {%render_field form.password class="col-form-label " placeholder="Contraseña"%}
                  </div>
                </div>
                <div class="row form-group col-form-label">
                  <div class="">
                    {%render_field form2.direccion class="col-form-label " placeholder="Direccion"%}
                    <label >Genero</label>
                    {%render_field form2.genero class="col-form-label" %}
                  </div>
                </div>
                <div class="row form-group col-form-label">
                  <div class="col-auto">
                    <button type="submit" value="Enviar" class="btn btn-success ">Enviar</button>
                    <button type="reset" value="Borrar" class="btn btn-danger ">Borrar</button>
                  </div>
                </div>
                  
                  
              </form>
          </div>
        </div>
      </div>
  {% endif %}

  {%if tipo == 'cliente' %}
    {%block verNoticias%}<a class="nav-link active" aria-current="page" href="/perfil/administrarPerfil/">Noticias</a>{%endblock%}
    <div class="container ">
      <br>
      <div class="row justify-content-center mt-5 tp-5">
          <div class="col-auto">
              
              <h1 class="display-4 ">Editar perfil</h1>
              <hr>
              <form action="{% url 'gestion_usuarios:modificarPerfil' %}"  method="POST">
                  {% csrf_token %}
                  
                  <div class="row form-group">
                      <div class="col-auto">
                        {%render_field form.username class="col-form-label " placeholder="Nombre de usuario"%}
                        {%render_field form.first_name class="col-form-label " placeholder="Nombre" %}
                      </div>
                  </div>
                  <div class="row form-group col-form-label">
                    <div class="">
                      {%render_field form.email class="col-form-label " placeholder="E-mail"%}
                      {%render_field form.last_name class="col-form-label" placeholder="Apellido" %}
                    </div>
                </div>
                <div class="row form-group col-form-label">
                  <div class="">
                    {%render_field form2.DNI class="col-form-label " placeholder="DNI"%}
                    {%render_field form2.lugar_nacimiento class="col-form-label" placeholder="Lugar nacimiento" %}
                  </div>
                </div>
                <div class="row form-group col-form-label">
                  <div class="">
                    {%render_field form2.fecha_nacimiento class="col-form-label " placeholder="Fecha nacimiento"%}
                    <input class="col-form-label " type="password" name="password" placeholder="Contraseña">
                  </div>
                </div>
                <div class="row form-group col-form-label">
                  <div class="">
                    {%render_field form2.direccion class="col-form-label " placeholder="Direccion"%}
                    <label >Genero</label>
                    {%render_field form2.genero class="col-form-label" %}
                  </div>
                </div>
                <div class="row form-group col-form-label">
                  <div class="col-auto">
                    <button type="submit" value="Enviar" class="btn btn-success ">Enviar</button>
                    <button type="reset" value="Borrar" class="btn btn-danger ">Borrar</button>
                  </div>
                </div>
                  
                  
              </form>
          </div>
        </div>
      </div>
  {% endif %}
{%endblock%}
