{% extends 'base.html'%}
{%load widget_tweaks%}


{% block contenido%}
{% if form.errors %}
{{forms.errors}}
{%endif%}


<section class="container my-5">
  <div class="container">
    <h1 class="display-4 ">Registro</h1>
    <hr>
    <form class="row g-3" action="{% url 'gestion_usuarios:registro' %}"  method="POST">
      {% csrf_token %}
      <h4 >Datos personales</h4>
      <div class="col-md-3">
        <label for="mail" class="form-label">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
          </div>
          {%render_field form.username class="form-control" placeholder="Nombre de usuario"%}
        </div>
      </div>
      <div class="col-md-4">
        <label for="mail" class="form-label">Nombre</label>
        {%render_field form.first_name class="form-control" placeholder="Nombre" %}
        {{ form.first_name.errors }}
      </div>
      <div class="col-md-4">
        <label for="mail" class="form-label">Apellido</label>
        {%render_field form.last_name class="form-control" placeholder="Apellido" %}
        {{ form.last_name.errors }}
      </div>
      <div class="col-md-1">
        <label for="mail" class="form-label">Genero</label>
        {%render_field form2.genero class="form-control" %}
        {{ form2.genero.errors }}
      </div>
      <div class="col-md-4">
        <label for="mail" class="form-label">DNI</label>
        {%render_field form2.DNI class="form-control" placeholder="DNI"%}
        {{ form2.DNI.errors }}
      </div>
      <div class="col-md-4">
        <label for="mail" class="form-label">Lugar de nacimiento</label>
        {%render_field form2.lugar_nacimiento class="form-control" placeholder="Lugar nacimiento" %}
        {{ form2.lugar_nacimiento.errors }}
      </div>
      <div class="col-md-4">
        <label for="mail" class="form-label">Fecha de nacimiento</label>
        {%render_field form2.fecha_nacimiento class="form-control" placeholder="Fecha nacimiento"%}
        {{ form2.fecha_nacimiento.errors }}
      </div>
      <hr>
      <h4 >Información cuenta</h4>
      <div class="col-md-4">
        <label for="mail" class="form-label">E-mail</label>
        {%render_field form.email class="form-control " placeholder="E-mail"%}
        {{ form.email.errors }}
      </div>
      <div class="col-md-4">
        <label for="mail" class="form-label">Contraseña</label>
        {%render_field form.password1 class="form-control" placeholder="Contraseña"%}
        {{ form.password1.errors }}
      </div>
      <div class="col-md-4">
        <label for="mail" class="form-label">Confirmar Contraseña</label>
        {%render_field form.password2 class="form-control" placeholder="Confirme Contraseña"%}
        {{ form.password2.errors }}
      </div>
      <div class="col-md-12">
        <label for="mail" class="form-label">Direccion</label>
        {%render_field form2.direccion class="form-control" placeholder="Direccion"%}
        {{ form2.direccion.errors }}
      </div>
      <div class="col-md-12">
        <button type="submit" value="Enviar" class="btn btn-primary">Confirmar</button>
        <button type="reset" value="Borrar" class="btn btn-danger ">Borrar</button>
      </div>
    </form>
  </div> 
</section>
{%endblock%}