{% extends 'base.html'%}

{% block contenido%}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-7">
            <h1 class="display-4">Recuperar clave</h1>
            <hr>
            <form action="" method="post">
               {% csrf_token %}
               <div class="row form-group col-form-label">
                    <label class="col-md-4">Correo: </label>
                    <div class="col-md-8">
                        <th>{{ form.email }}</th>
                    </div>
                </div>
               <input type="submit" value="Enviar" class="btn btn-success col-md-8">
            </form>
        </div>
    </div>
</div>
{%endblock%}

