{% extends 'baseInicio.html'%}
{%load widget_tweaks%}
{% block colapse%}
<a class="nav-link" data-bs-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
    Buscar Vuelo
  </a>
{%endblock%}
{% block vuelo%}

<div class="collapse show" id="collapseExample">
    <div class="card card-body">
        <section class="container my-5">
            <div class="container">
              <form class="row g-3" action="{% url 'busqueda_noticias:buscar' %}" method="post">
                {% csrf_token %}
                <div class="col-md-3">
                    <label for="mail" class="form-label">Tipo vuelo</label>
                    {%render_field form.tipo_vuelo class="form-control" placeholder="Tipo vuelo"%}
                </div>
                <div class="col-md-3">
                  <label for="mail" class="form-label">Fecha vuelo</label>
                  {%render_field form.fecha_vuelo class="form-control" placeholder="Fecha vuelo" %}
                </div>
                <div class="col-md-3">
                  <label for="mail" class="form-label">Origen</label>
                  {%render_field form.origen class="form-control" placeholder="Origen" %}
                </div>
                <div class="col-md-3">
                  <label for="mail" class="form-label">Destino</label>
                  {%render_field form.destino class="form-control" placeholder="Destino"%}
                </div>
                <div class="col-md-3">
                  <label for="mail" class="form-label">Tiempo vuelo</label>
                  {%render_field form.tiempo_Vuelo class="form-control" placeholder="Tiempo de vuelo"%}
                </div>
                <div class="col-md-3">
                  <label for="mail" class="form-label">Fecha llegada</label>
                  {%render_field form.fecha_llegada class="form-control" placeholder="Fecha llegada" %}
                </div>
                <div class="col-md-3">
                  <label for="mail" class="form-label">Costo</label>
                  {%render_field form.costo class="form-control" placeholder="Costo"%}
                </div>
                <div class="col-md-3">
                  <label for="mail" class="form-label">Capacidad</label>
                  {%render_field form.capacidad class="form-control " placeholder="Capacidad"%}
                </div>
                <div class="col-md-12">
                  <button type="submit" value="Submit" class="btn btn-primary">Buscar</button>
                  <button type="reset" value="Borrar" class="btn btn-danger ">Borrar</button>
                </div>
              </form>
            </div> 
          </section>
    </div>
  </div>


{%endblock%}
