{% extends 'baseInicioUsuarios.html'%}

{%block vuelo%}
    {% load tz %}
    {% if suscripcion == False %}
    <a href="{% url 'busqueda_noticias:suscribir' %}" class="btn btn-success container">Suscribirse</a></th>
    {%endif%}
    {% if suscripcion == True %}
    <a href="{% url 'busqueda_noticias:desuscribir' %}" class="btn btn-success container">Desuscribir</a></th>
    {%endif%}

    {% for vuelo, imagen in page_obj %}
    <div>
        {%if suscripcion == False and vuelo.estado == 1%}
        {% else %}
            <h4>Origen: {{ vuelo.origen }} </h4>
            <h4>Destino: {{ vuelo.destino }} </h4>  
            <b>sale: </b>{{ vuelo.fecha_vuelo }} (hora local)<br>
            <b>Tiempo de vuelo: </b> {{ vuelo.tiempo_Vuelo }} <br>
            <b>llega:</b> {{ vuelo.fecha_llegada }} (Zona horaria local)}<br>
            {% if vuelo.tipo_vuelo == "internacional" %}
                {% for key, value in zona.items %}
                    {% if key == vuelo.destino %}
            
                    <b>llega:</b> {{ vuelo.fecha_llegada|timezone:value }} (Zona horaria {{ value }})<br>
                    {% endif %}
                {% endfor %}
            {%endif%}
        
        <b>Costo: {{ vuelo.costo }}</b><br>
        URL DE LA IMAGEN: {{imagen}}<br>
        <th class="text-center"><a href="{% url 'busqueda_noticias:ver' vuelo.id %}" class="btn btn-success container">Ver mas</a></th>
        {% endif %}
    </div>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{%endblock%}