:root{
    --paleta_A: #6c3fb0;
    --paleta_B: #452870;
    --paleta_C: #9457f0;
    --paleta_D: #9c5bfc;
    --paleta_E: #844dd6;
}

body{
    font-family:'Courier New', Courier, monospace;
}

.container_register_1{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: 30% 70%;
    grid-row-gap: 2fr;
}

.p1_register{
    display: grid;
    grid-template-columns: 20% 80%;
    
}

.cuadro_register{
    display: grid;
    grid-template-columns: 80% 20%;
    place-items: center;
    background-color: var(--paleta_E);
    border-radius: 20px;
    border-style: ridge;
    border-width: 2px;
    border-color: black;
    width: 650px;
    height: 100px;
}

.container_register_v1_2{
    display: grid;
    grid-template-columns: 10% 90%;   
    margin-top: 30px;
}
.p2_root a{
    background-color: gray;
    color: black;
    border: 1px solid black;
    border-top-right-radius: 10px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

