:root {
    /* background-color: #ECD3FF; */
}

.carouselSize {
    height: 300px;
    width: 900px;
}

.colorLetra {
    color: black;
}

.colorLetra1 {
    color: white;
}

.p1 {
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.p2 {
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100%;
}